body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('background.jpg'); /* Add the path to your background image */
    background-size: cover; /* Adjust the background size as needed */
    background-position: center; /* Center the background image */
}

h2 {
    color: #333;
    font-size: 1.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 1em;
}

th, td {
    border: 1px solid #ddd;
    padding: 16px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: #3498db;
    font-size: 1em;
}

    a:hover {
        color: #2980b9;
    }

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1em;
}


.btn {
    display: inline-block;
    height: 35px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    background-color: deepskyblue;
    transition: background-color 0.3s, color 0.3s;
    font-size: 1em;
    margin-bottom:10px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}

    .btn:hover {
        background-color: #2ecc71;
        color: #fff; /
    }
